/****************************************
**************    NAV    ****************
****************************************/

nav {
    opacity: 0.8;
    padding-left: 10rem;
    padding-right: 10rem;
}

.brand-logo {
    font-family: 'Homemade Apple', cursive;
}

.navli {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5rem;
}


/****************************************
**********    TITLE SCREEN    ***********
****************************************/

#music {
    position: absolute;
    z-index: -5;
}

.bg {
    width: 100%;
}

.title {
    color: #fff;
    font-family: 'Crimson Text', serif;
    font-size: 3rem;
    position: absolute;
}

.bg_container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.container1 {
    bottom: 35%;
    left: 50%;
    margin-right: -50%;
    position: absolute;
    transform: translate(-50%, -50%);
}


/****************************************
**************    ABOUT    **************
****************************************/

.about {
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    height: 100%;
    padding-bottom: 10rem;
    text-align: justify;
    width: 100%;
}

div.container2 {
    height: 24rem;
    position: relative;
}

div.container2 p {
    left: 50%;
    margin: 0;
    margin-right: -50%;
    padding: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.container2 {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5em;
}

b {
    color: #5C874B;
    font-family: 'Homemade Apple', cursive;
}


/****************************************
**************    MODELS    *************
****************************************/

.mod-title {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 6rem;
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 100em;
    font-weight: bold;
}

#mod {
    text-align: center;
    margin-left: 40px;
}

.fade-card img {
    opacity: 0.1;
    transition: opacity 240000s ease-in-out;
    -moz-transition: opacity 240000s ease-in-out;
    -webkit-transition: opacity 240000s ease-in-out;
}

.fade-card img:hover {
    opacity: 1.0;
    transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -webkit-transition: opacity 5s ease-in-out;
}

.text-black {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .8rem;
}

#sav {
    font-size: 1.2rem;
    letter-spacing: .6rem;
}

.not {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .8rem;
    opacity: 0;
}

.models {
    height: 1200px;
}

.space {
    height: 100px;
}


/****************************************
*************    CONTACT    *************
****************************************/

.cont {
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.cont-card {
    top: 100px;
    left: 80px;
    max-width: 30%;
    min-height: 80%;
}

.card-title {
    font-family: 'Crimson Text', serif;
    font-size: 5rem;
    letter-spacing: 40px;
}

.cont-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}


/****************************************
***************    END    ***************
****************************************/

.modalDialog {
    height: 500%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    position: relative;
    margin: 10% auto;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}

.close {
    background-color: #fff;
    color: #000;
    line-height: 25px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

figure {
    padding-bottom: 100px;
}

.models {
    background: linear-gradient(#fff, transparent 10%);
    -webkit-animation: color_morph 5s infinite linear;
    animation: color_morph 5s infinite linear;
    overflow: hidden;
}

@-webkit-keyframes color_morph {
    0% {
        background-color: #dcedc8;
    }
    15% {
        background-color: #c5e1a5;
    }
    30% {
        background-color: #c5e1a5;
    }
    45% {
        background-color: #dcedc8;
    }
    60% {
        background-color: #dcedc8;
    }
    75% {
        background-color: #c5e1a5;
    }
    90% {
        background-color: #c5e1a5;
    }
    100% {
        background-color: #dcedc8;
    }
}

@keyframes color_morph {
    0% {
        background-color: #dcedc8;
    }
    15% {
        background-color: #c5e1a5;
    }
    30% {
        background-color: #c5e1a5;
    }
    45% {
        background-color: #dcedc8;
    }
    60% {
        background-color: #dcedc8;
    }
    75% {
        background-color: #c5e1a5;
    }
    90% {
        background-color: #c5e1a5;
    }
    100% {
        background-color: #dcedc8;
    }
}

.noscroll {
    overflow: hidden;
}

.grid-wrap {
    margin: 10px auto 0;
    max-width: 1090px;
    width: 100%;
    padding: 0;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.grid {
    position: relative;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.25, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.25, 1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.view-full .grid {
    -webkit-transform: translateZ(-1500px);
    transform: translateZ(-1500px);
}

.grid figure,
.grid .placeholder {
    width: 340px;
    height: 300px;
}

.grid figure {
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid figure.active {
    opacity: 0;
}

.grid .placeholder {
    pointer-events: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.placeholder > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.placeholder .front img {
    width: 100%;
    height: 100%;
}

.placeholder .back {
    background: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.view-full .placeholder {
    -webkit-transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1);
    transition: all 0.5s 0.1s cubic-bezier(0, 0, 0.25, 1);
}

.vertical .view-full .placeholder {
    -webkit-transform: translateZ(1500px) rotateX(-179.9deg);
    transform: translateZ(1500px) rotateX(-179.9deg);
    /* FF, Chrome, can we agree on one direction, pleeease? */
}

.horizontal .view-full .placeholder {
    -webkit-transform: translateZ(1500px) rotateY(-179.9deg);
    transform: translateZ(1500px) rotateY(-179.9deg);
}

.grid figure img {
    display: block;
    width: 100%;
}

.content,
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */
}

.content {
    overflow-y: scroll;
    height: 0;
    /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */
    background: #fff;
    visibility: hidden;
    z-index: 400;
    -webkit-overflow-scrolling: touch;
}

.loading {
    opacity: 0;
    z-index: 1;
    background: transparent url('../public/preloader.gif') no-repeat center center;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
}

.loading.show {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.content.show {
    height: auto;
    pointer-events: auto;
    visibility: visible;
}

.content > div {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    opacity: 0;
    background: #fff;
}

.content > div.show {
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.close-content {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 10px;
    font-size: 1.6em;
    color: #aaa;
    cursor: pointer;
    pointer-events: none;
    padding: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.close-content:hover {
    color: #999;
}

.content > div.show ~ .close-content {
    opacity: 1;
    pointer-events: auto;
}

.close-content:before {
    content: "\e602";
}


/* Simple fallback */


/* if any of these are not supported, a simple fallback will be shown */

.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
    opacity: 1;
    visibility: visible;
    display: none;
    height: auto;
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .dummy-img,
.no-csstransitions .dummy-text,
.no-csstransforms3d .dummy-img,
.no-csstransforms3d .dummy-text,
.no-pointerevents .dummy-img,
.no-pointerevents .dummy-text {
    display: block !important;
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .grid figure,
    .grid .placeholder {
        width: 240px;
        height: 212px;
    }
}












































/* CSS declarations go here */
.section {
	background-color: #263a55;
	margin-bottom: 25px;
}

#clothes-title {
	color: #263a55;
	font-family: 'Crimson Text', serif;
	text-align: center;
}

.clothes {
	margin-left: 180px;
	overflow: hidden;
  cursor: pointer;
}




/* //// Quote for template quote //////*/
.quote {
	width: 700px;
	margin-left: 25%;
}

#photos {
  padding:               0 20px;
  line-height:           0;
  -webkit-column-count:  4;
  -webkit-column-gap:    5px;
}

#photos img {
  width:              100% !important;
  height:             auto !important;
  opacity:            1;
  -webkit-filter:     blur(0) grayscale(0%);
  -webkit-transition: all 1s ease-in;
}

#photos div {
  margin-bottom:    5px;
  position:         relative;
  background-color: black;
}



/* TEST */


h1 {
  color: white;
  padding-left: 10px;
}

#hover {
  color: rgba(188, 175, 204, 0.9);
}

h2#testimonials {
  color: rgb(94, 244, 177);
}

div#all {
  width: 100%;
  height: 100%;
}


/* generic css */

.view {
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.view .mask,
.view .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative;
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 27px;
  font-family: 'Crimson Text', serif;
  padding: 10px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 20px 0 0 0
}

/*1*/

.view-first img {
  /*1*/
  transition: all 0.2s linear;
  width: 300px;
  height: 200px;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(58, 1, 132, 0.44);
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}


/* */

.view-first:hover img {
  transform: scale(1.1);
	cursor: pointer;
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2 {
  opacity: 1;
  transform: translateY(0px);
}